/* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/fraunces-v26-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fraunces-v26-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/barlow-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root {
    --main-bg-color: #fff;
    --main-text-color: #333D4B;
    --hero-text-color: #FEFCF7;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    font-weight: 900;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/************ MAIN STYLES START ************/
/* HERO SECTION START */

.hero-section {
    padding-top: 8px;
    padding-bottom: 60px;
}

.hero-section__wrapper {
    padding: 111px 24px 87px 24px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-image: url("../images/hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 28px;
    color: var(--hero-text-color);
}

.hero-section__desc {
    margin: 0;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--hero-text-color);
    opacity: 0.8;
}


/* TABLET RESPONSIVE START */
@media only screen and (min-width: 768px) {
    .hero-section {
        padding-top: 13px;
        padding-bottom: 72px;
    }

    .hero-section__wrapper {
        padding: 118px 58px;
        text-align: left;
        background-position: -70px 0;
    }

    .hero-section__start {
        width: 398px;
    }

    .hero-section__title {
        font-size: 32px;
        line-height: 40px;
    }

}

/* TABLET RESPONSIVE END */

/* DESKTOP RESPONSIVE START */
@media only screen and (min-width: 1024px) {
    .hero-section {
        padding-bottom: 72px;
    }

    .hero-section__wrapper {
        padding: 137px 85px;
        text-align: left;
        background-position: center;
    }

    .hero-section__start{
        width: 445px;
    }

    .hero-section__title {
        font-size: 40px;
        line-height: 48px;
    }

    .hero-section__desc {
        font-size: 16px;
        line-height: 26px;
    }

}

/* DESKTOP RESPONSIVE END */

/* HERO SECTION END */

/************ MAIN STYLES END ************/